.app{
  min-height: 80vh;
  background-color: rgb(129, 198, 221);
  display: flex;
  justify-content: space-around;
  align-items:  center;
}
.header{
    font-size: 80%;
    min-height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.tweet{
  height: 200px;
  width: 250px;
  background: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:  center;
}
.myButton {
	box-shadow:inset 0px -3px 23px 50px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #93c3eb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;

}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

.numlikes{

  color: rgba(255, 25, 0, 0.81);
  font-size: 50px;
}